{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Category news
{% endblock title %}

{% block content %}
<h1>Все статьи и новости в категории</h1>
<h4>Количество публикаций в категории: {{ category_news_list|length }}</h4>
<hr>
       <table>
           <tr>
               <td>Заголовок</td>
               <td>|</td>
               <td>Категория</td>
               <td>|</td>
               <td>Дата публикации</td>
               <td>|</td>
               <td>Текст</td>
           </tr>

           {% for post in category_news_list %}
           <tr>
               <td><h4>{{ post.title|censor }}</h4></td>
               <td><h4>|</h4></td>
               <td>
                    {% for category in post.categories.all %}
                        <h4><a href="{% url 'category_list' category.id %}">{{ category }}</a></h4>
                    {% endfor %}
               </td>
               <td><h4>|</h4></td>
               <td><h4>{{ post.time_create|date:'d M Y' }}</h4></td>>
               <td><h4>|</h4></td>
               <td><h4>{{ post.content|truncatechars:20|censor }}</h4></td>
           </tr>
           {% endfor %}
       </table>
        {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
   {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn-secondary btn-sm">Подписаться</a></p>
   {% endif %}
{% endblock content %}
