{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все статьи и новости</h1>
<h4>Количество публикаций: {{ news|length }}</h4>
<hr>
       <table>
           <tr>
               <td><h3>Заголовок</h3></td>
               <td><h3>|</h3></td>
               <td><h3>Категория</h3></td>
               <td><h3>|</h3></td>
               <td><h3>Дата публикации</h3></td>
               <td><h3>|</h3></td>
               <td><h3>Текст</h3></td>
           </tr>

           {% for post in news %}
           <tr>
               <td><h4>{{ post.title|censor|hide }}</h4></td>
               <td><h4>|</h4></td>
               <td>
                    {% for cat in post.categories.all %}
                        <h4>{{ cat.all_category }}</h4>
                    {% endfor %}
               </td>
               <td><h4>|</h4></td>
               <td><h4>{{ post.time_create|date:'d M Y' }}</h4></td>>
               <td><h4>|</h4></td>
               <td><h4>{{ post.content|truncatechars:50|censor|hide }}</h4></td>
           </tr>
           {% endfor %}
       </table>

        {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}